<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Chat</title>
  <link rel="stylesheet" href ="static/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
</head>

<body>

  <div class="container">
    <aside>
      <ul>
        <% users.forEach(item => { %>
          <li>
            <div id="" class="users">
              <i class="fas fa-circle"></i>
              <span><%= item %></span>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </li>
        <% }) %>   
      </ul>
    </aside>

    <div class="right">
      <div class="barra">
        <span>Close conversation</span>
      </div>

      <div class="window">
          <% messages.forEach(item => { %>
            <div class="chats">
              <h3><%= item.user %></h3><span><%= item.date %></span><p> <%= item.body %> </p>
            </div>
          <% }) %>
        </div>

      <div class="inputDiv">
        <div class="inputBar">
          <form action="">
            <input id="chatInput" type="text">
            <i class="far fa-smile"></i>
          </form>
        </div>
      </div>
    </div>
    <span class="hide name"> <%= userName %> </span>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script>
    const chatRender = (person) => {
      let newChat = document.createElement('div');
      newChat.classList.add("chats");

      newChat.innerHTML = `<h3>${person.user}</h3><span>${person.date}</span><p>${person.body}</p>`;

      let windows = document.querySelector(".window");
      windows.appendChild(newChat);
    }    
    
    const usersRender = (user) => {
    let newUser = document.createElement('li');
    newUser.innerHTML =
      `<div id="" class="users">
        <i class="fas fa-circle online"></i>
        <span>${user}</span>
        <i class="fas fa-ellipsis-v"></i>
      </div>`;
    let sideBar = document.querySelector("ul");
    sideBar.appendChild(newUser);
  }

    const dateNow = () => {
    let months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    let d = new Date;
    let month = months[d.getMonth()];
    let day = d.getDate();
    let hour = d.toLocaleString('en-US', {
      hour: 'numeric',
      minute: 'numeric',
      hour12: true
    })
    let fecha = month.concat(" ", day, " ", hour);
    return fecha;
  }
    
  $(() => {
    let socket = io();
    
    socket.on('userOnline', user => {
      usersRender(user);
    });
    
    $('form').submit(e => {
      e.preventDefault();
      let name = $('.name').text();
      let msgs = {id: name, user: name, date: dateNow(), body: $('#chatInput').val()}
      socket.emit('chat message', msgs );
      $('#chatInput').val('');
      return false;
    });    

    socket.on('chat message', msgs => {
      chatRender(msgs);
    });
    
  });
  </script>

</body>
</html>